.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a10000;
  padding: 0 10%;
}

.logo {
  font-size: 2.2rem;
  color: white;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #d3d3d3;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}
