.item {
    margin: 1rem 0;
}

.image {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.image img {
    width: 100%;
    object-fit: cover;
}

.content {
    text-align: center;
    padding: 1rem;
}

.content h3 {
    font-size: 1.25rem;
    color: #2c292b;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 1.5rem;
    text-align: center;
}

.actions button {
    font: inherit;
    cursor: pointer;
    color: #860000;
    border: 1px solid #8a0000;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}

.actions button:hover,
.actions button:active {
    background-color: #ffe2e2;
}
.flex{
    display: flex;
    gap: .5rem;
    margin-bottom: .7rem;
}
.flexCenter{
    display: flex;
    gap: .5rem;
    margin-bottom: .7rem;
    align-items: center;
}
.flex .price{
    width: 6rem;
}
.flex .year{
    width: 4.1rem;
}
