.item {
    margin: 1rem 0;
}

.image {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.image img {
    height: 10rem;
}

.content {
    padding: 1rem;
}

.content h3 {
    font-size: 1.25rem;
    color: #2c292b;
}

.actions {
    padding: 1rem 1.5rem;
    text-align: center;
}

.actions button {
    font: inherit;
    cursor: pointer;
    color: #860000;
    border: 1px solid #8a0000;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}

.actions button:hover,
.actions button:active {
    background-color: #ffe2e2;
}
.title{
    font-weight: bold;
    font-size: 2rem;
}
.price{
    font-size: 1.3rem;
}
.condition{
    color: gray;
    font-weight: bold;
    font-size: .80rem;
}