.btn {
    display: inline-block;
    font: inherit;
    cursor: pointer;
    color: #557A95;
    border: 1px solid #557A95;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}
.btn:hover,
.btn:active {
    background-color: #d0e7f8;
}
.regBtn {
    appearance: none;
    backface-visibility: hidden;
    background-color: #3cad70;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.regBtn:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.regBtn:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.regBtn:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
