.btn {
    appearance: none;
    backface-visibility: hidden;
    background-color: #557A95;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 133, 174, 0.15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.btn:hover {
    background-color: #456780;;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.btn:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.btn:hover {
    box-shadow: rgba(39, 143, 174, 0.2) 0 6px 12px;
}


.regBtn {
    width: 100%;
    appearance: none;
    backface-visibility: hidden;
    background-color: #3cad70;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.regBtn:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.regBtn:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.regBtn:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
